.big-container {
  overflow-y: auto;
  flex-wrap: wrap;
  height: 70vh;
}

.card {
  margin: 1vw;
  height: 20vw;
  max-height: 20vw;
  width: 20vw;
  max-width: 20vw;
}

.card-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
}

.fa-label {
  margin-left: 5px;
}

.btn-group {
  margin: 15px;
}

.btn-secondary {
  margin-right: 15px;
}

.btn-primary {
  margin-left: 15px;
}

textarea {
  display: unset;
}
