<div>
    <h2 id="page-heading">
        <span jhiTranslate="simpleKanbanApp.taskCardImage.home.title">Task Card Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-task-card-image" [routerLink]="['/task-card-image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="simpleKanbanApp.taskCardImage.home.createLabel">
            Create a new Task Card Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="taskCardImages?.length === 0">
        <span jhiTranslate="simpleKanbanApp.taskCardImage.home.notFound">No taskCardImages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="taskCardImages && taskCardImages.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="data"><span jhiTranslate="simpleKanbanApp.taskCardImage.data">Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="simpleKanbanApp.taskCardImage.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modificationDate"><span jhiTranslate="simpleKanbanApp.taskCardImage.modificationDate">Modification Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taskCardId"><span jhiTranslate="simpleKanbanApp.taskCardImage.taskCard">Task Card</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let taskCardImage of taskCardImages ;trackBy: trackId">
                    <td><a [routerLink]="['/task-card-image', taskCardImage.id, 'view']">{{ taskCardImage.id }}</a></td>
                    <td>
                        <a *ngIf="taskCardImage.data" (click)="openFile(taskCardImage.dataContentType, taskCardImage.data)">
                            <img [src]="'data:' + taskCardImage.dataContentType + ';base64,' + taskCardImage.data" style="max-height: 30px;" alt="taskCardImage image"/>
                        </a>
                        <span *ngIf="taskCardImage.data">{{ taskCardImage.dataContentType }}, {{ byteSize(taskCardImage.data) }}</span>
                    </td>
                    <td>{{ taskCardImage.creationDate | date:'medium' }}</td>
                    <td>{{ taskCardImage.modificationDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="taskCardImage.taskCardId">
                            <a [routerLink]="['/task-card', taskCardImage.taskCardId , 'view']" >{{ taskCardImage.taskCardId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/task-card-image', taskCardImage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/task-card-image', taskCardImage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(taskCardImage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="taskCardImages && taskCardImages.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
