<div>
    <h2 id="page-heading">
        <span jhiTranslate="simpleKanbanApp.kanbanTable.home.title">Kanban Tables</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kanban-table" [routerLink]="['/kanban-table/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="simpleKanbanApp.kanbanTable.home.createLabel">
            Create a new Kanban Table
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="kanbanTables?.length === 0">
        <span jhiTranslate="simpleKanbanApp.kanbanTable.home.notFound">No kanbanTables found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="kanbanTables && kanbanTables.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="simpleKanbanApp.kanbanTable.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="simpleKanbanApp.kanbanTable.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creationDate"><span jhiTranslate="simpleKanbanApp.kanbanTable.creationDate">Creation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="modificationDate"><span jhiTranslate="simpleKanbanApp.kanbanTable.modificationDate">Modification Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="simpleKanbanApp.kanbanTable.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kanbanTable of kanbanTables ;trackBy: trackId">
                    <td><a [routerLink]="['/kanban-table', kanbanTable.id, 'view']">{{ kanbanTable.id }}</a></td>
                    <td>{{ kanbanTable.name }}</td>
                    <td>{{ kanbanTable.description }}</td>
                    <td>{{ kanbanTable.creationDate | date:'medium' }}</td>
                    <td>{{ kanbanTable.modificationDate | date:'medium' }}</td>
                    <td>
                        {{ kanbanTable.userId }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/kanban-table', kanbanTable.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/kanban-table', kanbanTable.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(kanbanTable)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="kanbanTables && kanbanTables.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
